.homeOuterContainer {
    display: flex;
    text-align: center;
    height: 100vh;
    align-items: center;
    background-color: #191414;
  }
/* 
.outerContainer {
  background-color: #1A1A1D;
  position: relative;
} */

 .loginButton{
    background-color: #191414;
    position: absolute;
    left: 50%;
    margin-left: -55px;
    top: 50%;
    margin-top: -50px;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition-duration: 0.4s;
    border: 2px solid #1DB954;
    border-radius: 8px;
    cursor: pointer; 
 }

.loginButton:hover {
  background-color: #1DB954; 
  color: white;
}  